{% extends "base.html" %} {% block title %}Dashboard{% endblock %} 
{% block content%}
<link
rel="stylesheet"
href="{{ url_for('static',filename='css/dashboard.css') }}"
/>

<div class="pass-manager">
  <div class="left-bar">
    <div class="left-content">
      <ul class="action-list">
        <li class="item">
          <a href="/dashboard/passwords">
            <i class="selected fa-solid fa-key"></i>
            <span class="selected"> Passwords</span>
          </a>
        </li>
        <li class="item">
          <a href="/dashboard/cards">
            <i class="fa-solid fa-credit-card"></i>
            <span> Cards</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="page-content">
    <h1>Passwords</h1>
    <div class="content-categories">
      <div class="search-container">
        <input type="text" placeholder="Search...">
        <button type="submit"><i class="fa fa-search"></i></button>
      </div>
    </div>
  
    <div class="password-container">
      <div class="password-header">
        <span class="header-item">Service</span>
        <span class="header-item">Username</span>
        <span class="header-item">Password</span>
        <span class="header-item">Notes</span>
        <div class="button-group">
          <button type="button" class="add-button" onClick="showNewContainer()">
            <i class="fa-solid fa-plus"></i>
          </button>

          <div class="new-container" id="new-container">
            <div class="new-edit-content">
              <h2>Add Password</h2>
              <form method="post">
                <input type="hidden" name="form_type" value="new">
                <label for="service">Service:</label>
                <input type="text" id="service" name="service" required>
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
                <label for="notes">Notes:</label>
                <textarea id="notes" name="notes"></textarea>
                <button type="submit">Add</button>
                <button type="button" onClick="hideNewContainer()">Cancel</button>
              </form>
            </div>
          </div>
          
        </div>
      </div>
      {% set passwords = user.getPasswords() %}
      {% if passwords %}
        {% for password in passwords %}
          <div class="passwords">
            {% if password['service'].endswith('.com') %}
              <span target="_blank" class="password-item"><a href="http://{{ password['service'] }}" class="password-item">{{ password['service'] }}</a></span>
            {% else %}
              <span class="password-item">{{ password['service'] }}</span>
            {% endif %}
            <span class="password-item">{{ password['username'] }} <button class="copy-button" onClick="copyToClipboard('{{ password['username'] }}')"><i class="fa-solid fa-copy"></i></button></span>
            <span class="password-item">{{ password['password'] }} <button class="copy-button" onClick="copyToClipboard('{{ password['password'] }}')"><i class="fa-solid fa-copy"></i></button></span>
            <span class="password-item">{{ password['notes'] }}</span>
            <div class="dropdown-settings">
              <button class="settings-button">
                <i class="fa-solid fa-ellipsis-vertical"></i>
              </button>
              <div class="settings-content">
                <button class="settings" onclick="showEditContainer({{ password }})"><i class="fa-solid fa-pen-to-square"></i> Edit</button>
                <button class="settings" onClick="deletePass({{ password['id'] }})"><i class="fa-solid fa-trash"></i> Delete</button>
              </div>
            </div>
          </div>
          

          <div class="edit-container" id="edit-container">
            <div class="new-edit-content">
              <h2>Edit Password</h2>
              <form method="post">
                <input type="hidden" name="form_type" value="edit">
                <input type="hidden" name="passId">
                <label for="edit-service">Service:</label>
                <input type="text" id="edit-service" name="service" required>
                <label for="edit-username">Username:</label>
                <input type="text" id="edit-username" name="username" required>
                <label for="edit-password">Password:</label>
                <input type="password" id="edit-password" name="password" required>
                <label for="edit-notes">Notes:</label>
                <textarea id="edit-notes" name="notes"></textarea>
                <button type="submit">Save</button>
                <button type="button" onClick="hideEditContainer()">Cancel</button>
              </form>
            </div>
          </div>

        {% endfor %}
      {% else %}
        <div class="none-passwords">
          <span class="label-text">No passwords found...</span>
        </div>
      {% endif %}
    </div>
  </div>
  
    
  </div>

  <script>

  

  function showNewContainer() {
    const container = document.getElementById('new-container');
    container.style.display = 'block';
    document.body.style.overflow = 'hidden';
  }

  function hideNewContainer() {
    const container = document.getElementById('new-container');
    container.style.display = 'none';
    document.body.style.overflow = 'auto';
  }
  function showEditContainer(password) {
    const container = document.getElementById('edit-container');
    container.style.display = 'block';
    document.body.style.overflow = 'hidden';

    const passIdField = document.querySelector('#edit-container input[name="passId"]');
    const serviceField = document.getElementById('edit-service');
    const usernameField = document.getElementById('edit-username');
    const passwordField = document.getElementById('edit-password');
    const notesField = document.getElementById('edit-notes');

    passIdField.value = password.id;
    serviceField.value = password.service;
    usernameField.value = password.username;
    passwordField.value = password.password;
    notesField.value = password.notes;
  }

  function hideEditContainer() {
    const container = document.getElementById('edit-container');
    container.style.display = 'none';
    document.body.style.overflow = 'auto';
  }

  function copyToClipboard(password) {
    const tempInput = document.createElement('input');
    tempInput.value = password;
    document.body.appendChild(tempInput);
    tempInput.select();
    document.execCommand('copy');
    document.body.removeChild(tempInput);
    showFlashMessage('Copied to clipboard','success');
  }


  function deletePass(passId) {
  const endpoint = "/delete-pass?passId=" + passId;
  window.location.href = endpoint;
  }

  </script>
{% endblock %}