* {
box-sizing: border-box;
outline: none;
}


ul {
list-style-type: none;
padding: 0;
}

.pass-manager {
display: flex;
justify-content: space-between;
width: 100%;
height: 85vh;
max-height: 900px;
background: #fff;
border-radius: 4px;
overflow: hidden;

}

/* Search Bar */
.content-categories {
width: 100%;
padding: 20px 0;
}

.search-container {
display: flex;
align-items: center;
}

.search-container input[type="text"] {
padding-right: 25px;
margin-left: auto;
padding: 10px;
border: none;
border-radius: 5px;
margin-right: 10px;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;
background-color: #cecbcb;
opacity: .8;
width: 20%;
}

.search-container button[type="submit"] {
padding: 10px;
border: none;
border-radius: 5px;
background-color: #4CAF50;
color: white;
font-size: 16px;
cursor: pointer;
}

.search-container button[type="submit"]:hover {
background-color: #3e8e41;
}
/* ############################################# */


.left-bar {
background-color: #ffffff;
width: 230px;
border-right: 1px solid #e3e7f7;
position: relative;
}

.left-content { padding: 40px; }

.left-bar::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 2px;
    background-color: #ccc;
  }


.item {
@extend %flex;
margin-bottom: 14px;
font-weight: 500;
font-size: 20px;
}
.item a { 
    color: #353536;
    text-decoration: none;
}
.item a .selected { 
  color: #fd4e5b; 
}
.item a:hover { 
    color: #fd4e5b; 
}

.page-content {
display: flex;
flex-direction: column;
flex: 1;
padding: 25px 20px 0 20px;

h1 { 
    font-size: 26px; 
    color: #353536; 
    margin-top: 30px;
}
}

/* Passwords */
.password-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    height: 100%;
  }

.password-header {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
  width: 100%;
}

.password-header span{
  flex: 1;
  margin-right: 10px;
}

.header-item{
  font-size: 18px;
  font-weight: 500;
}

.passwords {
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  border-bottom: 2px solid #ccc;
  border-top: 2px solid #ccc;
  border-left: 2px solid #ccc;
  border-right: 2px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.none-passwords{
  display: flex;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 5px;
  width: 100%;
}

.none-passwords .label-text {
  font-size: 18px;
  font-weight: 500;
  text-align: center;
}

.password-item{
  font-size: 16px;
  font-weight: 500;
  flex: 1;
  margin-right: 10px;
  text-decoration: none;
}
.password-item > .copy-button {
  background: none;
  border: none;
  background-color: none;
  cursor: pointer;
}

.password-item > .copy-button:hover {
  color: #fd4e5b;
}

.button-group {
  display: flex;
  align-items: center;
}

.add-button{
  background: none;
  border: none;
  background-color: #5b685c;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 5px;
  height: 25px;
  width: 25px;
}
/* ############################################# */

/* Add/Edit Password Container */
.new-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.edit-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.new-edit-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 400px;
  height: 535px;
}

.new-edit-content h2 {
  margin-top: 0;
}

.new-edit-content form {
  display: flex;
  flex-direction: column;
}

.new-edit-content label {
  margin-top: 10px;
  font-size: 16px;
}

.new-edit-content input {
  padding: 5px;
  border-radius: 4px;
  border: 2px solid #ccc;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.new-edit-content select {
  padding: 5px;
  border-radius: 4px;
  border: 2px solid #ccc;
  margin-bottom: 10px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.new-edit-content textarea{
  padding: 5px;
  border-radius: 4px;
  border: 2px solid #ccc;
  margin-bottom: 10px;
  resize: none;
  height: 100px;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
}

.new-edit-content button[type="submit"] {
  color: #fff;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
}

.new-edit-content form button[type="submit"] {
  background-color: #4CAF50;
}


.new-edit-content button[type="submit"]:hover {
  background-color: #3e8e41;
}

.new-edit-content button{
  color: #fff;
  background-color: #f44336;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
}

.new-edit-content button:hover {
  background-color: #d32f2f;
}

/* ######################################### */




/* password settings */
.dropdown-settings {
  position: relative;
  display: inline-block;
}

.dropdown-settings .settings-button {
  font-size: 18px;
  background: none;
  border: none;
  background-color: none
  color: #000;
  cursor: pointer;
  margin-left: 5px;
  height: 25px;
  width: 25px;
}

.dropdown-settings .settings-button:hover {
  color: #0077ff;
}

.settings-content {
  display: none;
  position: absolute;
  z-index: 1;
  top: 30px;
  right: 0;
  min-width: 100px;
  border-radius: 5px;
  background-color: #2b2a2a;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  padding: 12px 16px;
  opacity: .9;
}

.settings-content .settings {
  color: #ffffff;
  padding: 6px 0;
  display: block;
  background: none;
  border: none;
  background-color: none;
  cursor: pointer;

}

.settings-content .settings:hover {
  color: #0077ff;
}

.dropdown-settings:focus-within .settings-content {
  display: block;
}
/* ############################################# */

/* other */
@media screen and (max-width: 900px) {
.left-bar {
    display: none;
}
}

@media screen and (max-width: 700px) {
.pass-manager {
    flex-direction: column;
    overflow-y: auto;
}

.password-container { height: auto; }
}

@media screen and (max-width: 520px) {
.page-content { padding: 40px 10px 0 10px; }

}